body {
  background-color: #ddd;
  font-family: GeezaPro, Arial, Helvetica;
  color: darkblue;
}
a,
a:visited,
a:active,
a:hover {
  color: #000044;
}
.example {
  border: 1px solid lightgrey;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 4px #444;
  -webkit-box-shadow: 3px 3px 4px #444;
  box-shadow: 3px 3px 4px #444;
}
.examples-title {
  height: 24px;
  text-align: center;
}
.examples {
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 18px;
  padding-top: 42px;
  xborder: 1px solid darkgrey;
}
.ex-left {
  float: left;
  padding-right: 6px;
}
.ex-right {
  width: 250px;
  margin-bottom: 2px;
}
canvas {
  background-color: white;
  border: 1px solid grey;
  -moz-box-shadow: 3px 3px 6px #444;
  -webkit-box-shadow: 3px 3px 6px #444;
  box-shadow: 3px 3px 6px #444;
}
input[type="text"] {
  border: none;
  -moz-box-shadow: inset 2px 2px 5px #888;
  -webkit-box-shadow: inset 2px 2px 5px #888;
  box-shadow: inset 2px 2px 5px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 1px;
  padding: 5px;
}

.box {
  top: 50%;
  left: 50%;
  padding: 5px;
  background-color: #ffffff;
}

.box option {
  background-color: #ffffff;
  color: darkblue;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
